In [12]:
import pandas as pd
import os
import numpy as np
import pickle
#os - operating system dependent. to read/write files
#pd - pandas for data analysis/modeling

data_path = 'data/'
dataframes_path = 'dataframes/'

#get DataFrames
all_data1 = pd.read_pickle(os.path.join(dataframes_path, 'saleswithzero1.pickle'))
all_data2 = pd.read_pickle(os.path.join(dataframes_path, 'saleswithzero2.pickle'))

all_data=pd.concat([all_data1,all_data2], ignore_index=True)
all_data.tail()

,shop_id,item_id,date_block_num,date,item_cnt_month,item_price,item_category_id,item_cat_block_target_sum,item_cat_block_target_mean,item_block_target_sum,item_block_target_mean,shop_block_target_sum,shop_block_target_mean
75218843,21,7635,33,2015-10-01,0,2100.0,64,64,0.155640,1,0.02272,1912,0.353271
75218844,21,7638,33,2015-10-01,0,1890.0,64,64,0.155640,1,0.02272,1912,0.353271
75218845,21,7640,33,2015-10-01,0,4040.0,64,64,0.155640,1,0.02272,1912,0.353271
75218846,21,7632,33,2015-10-01,0,2310.0,64,64,0.155640,1,0.02272,1912,0.353271
75218847,21,7440,33,2015-10-01,0,299.0,57,57,0.062683,1,0.02272,1912,0.353271

In [13]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75218848 entries, 0 to 75218847
Data columns (total 13 columns):
shop_id                       int8
item_id                       int16
date_block_num                int8
date                          datetime64[ns]
item_cnt_month                int16
item_price                    float16
item_category_id              int8
item_cat_block_target_sum     int8
item_cat_block_target_mean    float16
item_block_target_sum         int16
item_block_target_mean        float16
shop_block_target_sum         int16
shop_block_target_mean        float16
dtypes: datetime64[ns](1), float16(4), int16(4), int8(4)
memory usage: 2.0 GB

In [4]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10913850 entries, 0 to 10913849
Data columns (total 11 columns):
shop_id                       int32
item_id                       int32
date_block_num                int32
item_cnt_month                float32
item_category_id              int32
item_cat_block_target_sum     float32
item_cat_block_target_mean    float32
item_block_target_sum         int32
item_block_target_mean        float32
shop_block_target_sum         int32
shop_block_target_mean        float32
dtypes: float32(5), int32(6)
memory usage: 458.0 MB

In [14]:
all_data.columns

Index(['shop_id', 'item_id', 'date_block_num', 'date', 'item_cnt_month',
       'item_price', 'item_category_id', 'item_cat_block_target_sum',
       'item_cat_block_target_mean', 'item_block_target_sum',
       'item_block_target_mean', 'shop_block_target_sum',
       'shop_block_target_mean'],
      dtype='object')

In [15]:
#series = Series.from_csv('daily-minimum-temperatures-in-me.csv', header=0)
lag_features=['item_cat_block_target_sum','item_cat_block_target_mean','item_block_target_sum','item_block_target_mean','shop_block_target_sum','shop_block_target_mean','item_cnt_month']
lag_steps=[1,2,3,5,12]
lag_cols=[]
temps = all_data[lag_features]
all_data = pd.concat([all_data,temps.shift(1),temps.shift(2),temps.shift(3), temps.shift(5), temps.shift(12)], axis=1)

for i in lag_steps:
    for lag_f in lag_features:
        lag_cols.append(lag_f+"_lag_"+str(i))
fixed_cols=['shop_id', 'item_id', 'date_block_num', 'date', 'item_cnt_month',
       'item_price', 'item_category_id', 'item_cat_block_target_sum',
       'item_cat_block_target_mean', 'item_block_target_sum',
       'item_block_target_mean', 'shop_block_target_sum',
       'shop_block_target_mean']  

#len(fixed_cols+lag_cols)
all_data.columns = fixed_cols+lag_cols
all_data.head()
#dataframe.columns

,shop_id,item_id,date_block_num,date,item_cnt_month,item_price,item_category_id,item_cat_block_target_sum,item_cat_block_target_mean,item_block_target_sum,...,shop_block_target_sum_lag_5,shop_block_target_mean_lag_5,item_cnt_month_lag_5,item_cat_block_target_sum_lag_12,item_cat_block_target_mean_lag_12,item_block_target_sum_lag_12,item_block_target_mean_lag_12,shop_block_target_sum_lag_12,shop_block_target_mean_lag_12,item_cnt_month_lag_12
0,59,22154,0,2013-01-01,1,999.0,37,37,0.199707,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,59,22154,0,2013-01-01,1,999.0,37,37,0.199707,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,59,22154,0,2013-01-01,1,999.0,37,37,0.199707,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,59,22154,0,2013-01-01,1,999.0,37,37,0.199707,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,59,22154,0,2013-01-01,1,999.0,37,37,0.199707,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
all_data.shape

(75218848, 48)

In [19]:
all_data = all_data[all_data['date_block_num'] >= 12]
all_data.head()

,shop_id,item_id,date_block_num,date,item_cnt_month,item_price,item_category_id,item_cat_block_target_sum,item_cat_block_target_mean,item_block_target_sum,...,shop_block_target_sum_lag_5,shop_block_target_mean_lag_5,item_cnt_month_lag_5,item_cat_block_target_sum_lag_12,item_cat_block_target_mean_lag_12,item_block_target_sum_lag_12,item_block_target_mean_lag_12,shop_block_target_sum_lag_12,shop_block_target_mean_lag_12,item_cnt_month_lag_12
31357727,54,10297,12,2014-01-01,4,749.0,37,37,0.193726,23,...,4094.0,0.483154,0.0,62.0,0.448975,1.0,0.021744,4094.0,0.483154,0.0
31357728,54,10297,12,2014-01-01,4,749.0,37,37,0.193726,23,...,4094.0,0.483154,1.0,30.0,1.605469,1.0,0.021744,4094.0,0.483154,1.0
31357729,54,10297,12,2014-01-01,4,749.0,37,37,0.193726,23,...,4094.0,0.483154,1.0,59.0,0.056122,1.0,0.021744,4094.0,0.483154,0.0
31357730,54,10297,12,2014-01-01,4,749.0,37,37,0.193726,23,...,4094.0,0.483154,1.0,37.0,0.234009,1.0,0.021744,4094.0,0.483154,1.0
31357731,54,10297,12,2014-01-01,4,749.0,37,37,0.193726,23,...,4094.0,0.483154,1.0,40.0,0.309082,1.0,0.021744,4094.0,0.483154,0.0

In [20]:
float_cols = [c for c in all_data if all_data[c].dtype == "float64"]
#int_cols =   [c for c in all_data if all_data[c].dtype == "int64"]
# Downcast
all_data[float_cols] = all_data[float_cols].astype(np.int16)
#all_data[int_cols]   = all_data[int_cols].astype(np.int32)

In [21]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43861121 entries, 31357727 to 75218847
Data columns (total 48 columns):
shop_id                              int8
item_id                              int16
date_block_num                       int8
date                                 datetime64[ns]
item_cnt_month                       int16
item_price                           float16
item_category_id                     int8
item_cat_block_target_sum            int8
item_cat_block_target_mean           float16
item_block_target_sum                int16
item_block_target_mean               float16
shop_block_target_sum                int16
shop_block_target_mean               float16
item_cat_block_target_sum_lag_1      int16
item_cat_block_target_mean_lag_1     float16
item_block_target_sum_lag_1          int16
item_block_target_mean_lag_1         float16
shop_block_target_sum_lag_1          int16
shop_block_target_mean_lag_1         float16
item_cnt_month_lag_1                 int16
item_cat_block_target_sum_lag_2      int16
item_cat_block_target_mean_lag_2     float16
item_block_target_sum_lag_2          int16
item_block_target_mean_lag_2         float16
shop_block_target_sum_lag_2          int16
shop_block_target_mean_lag_2         float16
item_cnt_month_lag_2                 int16
item_cat_block_target_sum_lag_3      int16
item_cat_block_target_mean_lag_3     float16
item_block_target_sum_lag_3          int16
item_block_target_mean_lag_3         float16
shop_block_target_sum_lag_3          int16
shop_block_target_mean_lag_3         float16
item_cnt_month_lag_3                 int16
item_cat_block_target_sum_lag_5      int16
item_cat_block_target_mean_lag_5     float16
item_block_target_sum_lag_5          int16
item_block_target_mean_lag_5         float16
shop_block_target_sum_lag_5          int16
shop_block_target_mean_lag_5         float16
item_cnt_month_lag_5                 int16
item_cat_block_target_sum_lag_12     int16
item_cat_block_target_mean_lag_12    float16
item_block_target_sum_lag_12         int16
item_block_target_mean_lag_12        float16
shop_block_target_sum_lag_12         int16
shop_block_target_mean_lag_12        float16
item_cnt_month_lag_12                int16
dtypes: datetime64[ns](1), float16(19), int16(24), int8(4)
memory usage: 4.3 GB

In [24]:
temp=all_data
all_data['December'] = temp.date_block_num.apply(lambda x: 1 if x in [23] else 0).astype(bool)
all_data['Newyear_Xmas'] = temp.date_block_num.apply(lambda x: 1 if x in [12,24] else 0).astype(bool)
all_data['Valentine_MenDay'] = temp.date_block_num.apply(lambda x: 1 if x in [13,25] else 0).astype(bool)
all_data['WomenDay'] = temp.date_block_num.apply(lambda x: 1 if x in [14,26] else 0).astype(bool)
all_data['Easter_Labor'] = temp.date_block_num.apply(lambda x: 1 if x in [15,27] else 0).astype(bool)

In [25]:
all_data.head()

,shop_id,item_id,date_block_num,date,item_cnt_month,item_price,item_category_id,item_cat_block_target_sum,item_cat_block_target_mean,item_block_target_sum,...,item_block_target_sum_lag_12,item_block_target_mean_lag_12,shop_block_target_sum_lag_12,shop_block_target_mean_lag_12,item_cnt_month_lag_12,December,Newyear_Xmas,Valentine_MenDay,WomenDay,Easter_Labor
31357727,54,10297,12,2014-01-01,4,749.0,37,37,0.193726,23,...,1,0.021744,4094,0.483154,0,False,True,False,False,False
31357728,54,10297,12,2014-01-01,4,749.0,37,37,0.193726,23,...,1,0.021744,4094,0.483154,1,False,True,False,False,False
31357729,54,10297,12,2014-01-01,4,749.0,37,37,0.193726,23,...,1,0.021744,4094,0.483154,0,False,True,False,False,False
31357730,54,10297,12,2014-01-01,4,749.0,37,37,0.193726,23,...,1,0.021744,4094,0.483154,1,False,True,False,False,False
31357731,54,10297,12,2014-01-01,4,749.0,37,37,0.193726,23,...,1,0.021744,4094,0.483154,0,False,True,False,False,False

In [26]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43861121 entries, 31357727 to 75218847
Data columns (total 53 columns):
shop_id                              int8
item_id                              int16
date_block_num                       int8
date                                 datetime64[ns]
item_cnt_month                       int16
item_price                           float16
item_category_id                     int8
item_cat_block_target_sum            int8
item_cat_block_target_mean           float16
item_block_target_sum                int16
item_block_target_mean               float16
shop_block_target_sum                int16
shop_block_target_mean               float16
item_cat_block_target_sum_lag_1      int16
item_cat_block_target_mean_lag_1     float16
item_block_target_sum_lag_1          int16
item_block_target_mean_lag_1         float16
shop_block_target_sum_lag_1          int16
shop_block_target_mean_lag_1         float16
item_cnt_month_lag_1                 int16
item_cat_block_target_sum_lag_2      int16
item_cat_block_target_mean_lag_2     float16
item_block_target_sum_lag_2          int16
item_block_target_mean_lag_2         float16
shop_block_target_sum_lag_2          int16
shop_block_target_mean_lag_2         float16
item_cnt_month_lag_2                 int16
item_cat_block_target_sum_lag_3      int16
item_cat_block_target_mean_lag_3     float16
item_block_target_sum_lag_3          int16
item_block_target_mean_lag_3         float16
shop_block_target_sum_lag_3          int16
shop_block_target_mean_lag_3         float16
item_cnt_month_lag_3                 int16
item_cat_block_target_sum_lag_5      int16
item_cat_block_target_mean_lag_5     float16
item_block_target_sum_lag_5          int16
item_block_target_mean_lag_5         float16
shop_block_target_sum_lag_5          int16
shop_block_target_mean_lag_5         float16
item_cnt_month_lag_5                 int16
item_cat_block_target_sum_lag_12     int16
item_cat_block_target_mean_lag_12    float16
item_block_target_sum_lag_12         int16
item_block_target_mean_lag_12        float16
shop_block_target_sum_lag_12         int16
shop_block_target_mean_lag_12        float16
item_cnt_month_lag_12                int16
December                             bool
Newyear_Xmas                         bool
Valentine_MenDay                     bool
WomenDay                             bool
Easter_Labor                         bool
dtypes: bool(5), datetime64[ns](1), float16(19), int16(24), int8(4)
memory usage: 4.5 GB

In [30]:
14620373*2

29240746

In [ ]:
#all_data = all_data.set_index(['shop_id','item_id'])
#all_data.head()

In [32]:
all_data[:14620373].to_pickle(dataframes_path+'saleswith12lags1.pickle')
all_data[14620373:29240746].to_pickle(dataframes_path+'saleswith12lags2.pickle')
all_data[29240746:].to_pickle(dataframes_path+'saleswith12lags3.pickle')

In [33]:
all_data.to_csv(data_path+'saleswith12lags.csv')

In [12]:
all_data.shape

(6425094, 51)